@use "../../commons" as commons;

.NotFound {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: commons.$spacing-lg;
  align-items: center;
  justify-content: center;
}

.NotFound__Actions {
  display: flex;
  gap: commons.$spacing-md;
  align-items: center;
}
