@use "../commons" as commons;

.QuizQuestionField {
  display: flex;
  flex-direction: column;
  gap: commons.$spacing-lg;
  padding: commons.$spacing-lg;
}

.QuizQuestionField__QuestionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.QuizQuestionField__Answers {
  display: flex;
  flex-direction: column;
  gap: commons.$spacing-sm;
  padding: commons.$spacing-md;
  background-color: commons.$gray-alpha2;
  border-radius: commons.$radius-md;
}

.QuizQuestionField__AnswersList {
  display: flex;
  flex-direction: column;
  gap: commons.$spacing-sm;
}

.QuizQuestionField__Answer {
  display: flex;
  align-items: center;
  gap: commons.$spacing-sm;
}

.QuizQuestionField__AnswerInput {
  flex-grow: 1;
}

.QuizQuestionField__AddAnswerBtn {
  align-self: start;
  margin-top: commons.$spacing-xs;
}
