@use "../commons" as commons;

.QuizCard {
  padding: 0;
}

.QuizCard__TopBar {
  padding: commons.$spacing-md;
}

.QuizCard__Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: commons.$spacing-sm;
}

.QuizCard__Content {
  border-top: 1px solid commons.$gray-alpha6;
  padding: commons.$spacing-md;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.QuizCard__Info {
  display: flex;
  align-items: center;
  gap: commons.$spacing-sm;
}

@mixin popover-content {
  display: flex;
  flex-direction: column;
  padding: commons.$spacing-sm;
  gap: commons.$spacing-sm;
}

.QuizCard__Actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: commons.$spacing-xs;
}

.QuizCard__VisibilityTag {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05em;

  display: inline-flex;
  gap: commons.$spacing-xs;
  align-items: center;
}

.QuizCard__ActionsPopover {
  @include popover-content;
}

.QuizCard__ActionsPopoverButton {
  justify-content: flex-start;
}

.QuizCard__DeletePopover {
  @include popover-content;
}

.QuizCard__DeletePopoverText {
  display: flex;
  flex-direction: column;
  gap: commons.$spacing-xs;
}

.QuizCard__DeletePopoverActions {
  display: flex;
  justify-content: flex-end;
  gap: commons.$spacing-md;
}
