@use "../commons" as commons;

.DashboardHeader {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #{commons.$gray-alpha6};
}

.DashboardHeader__Container {
  @include commons.section-container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DashboardHeader__RightContent {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.DashboardHeader__AvatarContainer {
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.DashboardHeader__PopoverContent {
  padding: 0;
}

.DashboardHeader__UserInfo {
  display: flex;
  flex-direction: column;
  gap: commons.$spacing-sm;
  padding: commons.$spacing-sm;

  border-bottom: 1px solid #{commons.$gray-alpha6};
}

.DashboardHeader__PopoverActions {
  display: flex;
  flex-direction: column;
  gap: commons.$spacing-sm;
  padding: commons.$spacing-sm;
}
