@use "../commons" as commons;

.DashboardLayout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: clip;
}

.DashboardLayout__Content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}
