@use "../../common" as common;

$popover-container-padding: .5rem;

.Header {}

.Header__Container {
  @include common.section-container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__RightContent {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.Header__AvatarContainer {
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.Header__PopoverContent {
  padding: 0;
}

.Header__UserInfo {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  padding: $popover-container-padding;
}

.Header__PopoverActions {
  display: flex;
  flex-direction: column;
  padding: $popover-container-padding;
}
