@use "../commons" as commons;

.AppearanceSelect__Content {
  width: fit-content;
}

.AppearanceSelect__Item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: commons.$spacing-sm;
}
