@use "../../commons" as commons;

.ErrorBoundaryUi {
  width: 100%;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ErrorBoundaryUi__Card {
  &:global(.rt-BaseCard) {
    display: flex;
    padding: 0;

    flex-direction: column;
    gap: commons.$spacing-lg;
  }

  max-width: 80rem;
}

.ErrorBoundaryUi__Header {
  padding: commons.$spacing-md;
}

.ErrorBoundaryUi__Content {
  padding: commons.$spacing-md;

  display: flex;
  flex-direction: column;
  gap: commons.$spacing-md;

  border-top: 1px solid #{commons.$gray-alpha6};
}
