@use "../commons" as commons;

.AuthCard {
  justify-self: center;
  max-width: 30rem;
  width: 100%;
  padding: 0; // Reset default padding, handle it in inner sections
}

@mixin inner-section {
  padding: commons.$spacing-md;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.AuthCard__Header {
  @include inner-section;
  border-bottom: 1px solid #{commons.$gray-alpha6};
}

.AuthCard__Body {
  @include inner-section;
}

.AuthCard__Footer {
  @include inner-section;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  border-top: 1px solid #{commons.$gray-alpha6};
}
