@use "../commons" as commons;

.AuthLayout__Header {}

.AuthLayout__HeaderContainer {
  @include commons.section-container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AuthLayout__HeaderActions {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.AuthLayout__Main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AuthLayout__Container {
  @include commons.section-container;
  display: flex;
  justify-content: center;
  align-items: center;
}
